@charset "UTF-8";

@import
  './abstract/variables',
  './abstract/functions',
  './abstract/mixins';

@import
  './base/base';

@import
  './components/Button.scss';

@import
  './pages/LoginPage.scss',
  './pages/MissingPage.scss';

:root {
  --nav-width: min(100%, 250px);
  --header-height: 4rem;

  --clr-white: #ffffff;
  --clr-red: #e04750;
  --clr-green: #5bca8d;
  --clr-blue: #4d73de;
  --clr-gold: #f7c440;
  --clr-dark-gray: #83858d;
  --clr-gray: #979b9e;
  --clr-light-gray: #f5f9fc;
  --clr-dark: black;

  background-color: var(--clr-light-gray);
  color: var(--clr-dark);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.active {
  font-weight: bold;
  pointer-events: none;
}

.red,
.green,
.blue,
.gold {
  color: var(--clr-white);
}

.red {
  background-color: var(--clr-red) !important;
}

.green {
  background-color: var(--clr-green) !important;
}

.blue {
  background-color: var(--clr-blue) !important;
}

.gold {
  background-color: var(--clr-gold) !important;
}
