.sidenav {
  background-color: var(--clr-navigation);
  color: var(--clr-white);
  width: var(--nav-width);
  height: 100vh;
  position: relative;

  .content {
    background-color: inherit;
    width: inherit;
    height: inherit;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;

    .logo {
      height: var(--header-height);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-align: center;
      letter-spacing: 2px;
    }

    .nav-links {
      .nav-link,
      .dropdown-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 2rem;

        p,
        a {
          color: inherit;
          flex: 1;
          padding: 0 1rem;
          text-align: left;
          font-weight: normal;
        }

        .icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
      }

      .nav-dropdown {
        padding-left: 2rem;

        .dropdown-button {
          background-color: transparent;
          color: var(--clr-white);
          width: 100%;
          padding: 0;

          .icon-arrow {
            width: 1rem;
            height: 1rem;
            transition: transform 0.5s;
          }
        }

        .dropdown-links {
          height: 6rem;
          background-color: var(--clr-white);
          color: var(--clr-navigation);
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          margin-top: 0.6rem;
          margin-bottom: 0.6rem;
          padding-left: 2rem;
          font-size: 0.9rem;
          border-radius: 8px;
          overflow: hidden;
          transition: height 0.5s;
        }

        .closed {
          height: 0;
        }

        .rotate {
          transform: rotate(90deg);
        }
      }
    }

    .active {
      font-weight: bold !important;
      pointer-events: none;
    }

    hr {
      margin-bottom: 1rem;
    }
  }
}
