.loginpage {
  background-color: $clrBlue;
  width: 100%;
  height: 100vh;
  @include flexCenter(row);

  .content {
    background-color: $clrLightGray;
    width: min(90%, 420px);
    @include flexCenter(column);
    @include card();

    .logo {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .form {
      width: 80%;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        padding: 0.6rem 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 8px;
      }

      .text-error {
        color: $clrRed;
        margin-bottom: 0.5rem;
      }

      .hidden {
        display: none;
      }
    }
  }
}
