.home {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'nav header'
    'nav main';
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: var(--nav-width) 1fr;
  overflow: hidden;

  .header {
    grid-area: header;
  }

  .sidenav {
    grid-area: nav;
  }

  .main-section {
    grid-area: main;
    padding: 2rem 1.5rem;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
  }
}
