.card-one {
  width: 240px;
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-gray);
  border-radius: 4px;
  overflow: hidden;

  .title {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding: 0.6rem;
  }

  .count {
    background-color: var(--clr-white);
    color: var(--clr-dark-gray);
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-top: 1px solid var(--clr-gray);
    border-bottom: 1px solid var(--clr-gray);
  }

  .link {
    background-color: var(--clr-light-gray);
    color: var(--clr-blue);
    padding: 0.4rem 0.6rem;
  }
}
